<p>roles works!</p>

<div class="row">
    <div class="col-3"><p>--{{tempc}}</p>
    </div>
    <div class="col-3"><p>{{version}}</p>
    </div>
    <div class="col-3"><p>{{currentDate}}</p></div>
    <div class="col-3"><p>{{slectedState}}</p></div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="temzpf" class="form-control"/>
    </div>

    <div class="col-3">
        <input [type]="inputType">
    </div>

    <div class="col-3">
        <input #c type="number" placeholder="2 way binding" [(ngModel)] = "tempc" (ngModelChange)="updateValue(c.value)"/>
    </div>

    <div class="col-3">
        <select [(ngModel)] = "slectedState">
            <option value="MH">MH</option>
            <option value="MP">MP</option>
            <option value="BR">BR</option>
        </select>

    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="showWelcomeAlert()">Show alert</button>
    </div>

    <div class="col-3">
        <button class="btn btn-success" (click)="showMessage('Welcome from Abhi')">Show MSG</button>
    </div>
</div>


